[user]
	email = aliyou29@hotmail.com
	name = Aliyou Sylla
[diff]
  tool = vscode
#[difftool]
#  prompt = false
[difftool "vscode"]
  cmd = code --wait --diff $LOCAL $REMOTE
[merge]
  tool = vscode
  conflictStyle = diff3
[mergetool]
  keepBackup = false
[mergetoll "vscode"]
  cmd = code --wait $MERGED
[pager]
  branch = false
  diff = delta
  log = delta
  reflog = delta
  show = delta
[pull]
  rebase = true
  thowhead = ort
[rebase]
  autosquash = true
  abbreviateCommands = true
[credential]
  helper = cache --timeout 3600
[rerere]
  enabled = true
[init]
	defaultBranch = main
#[advice]
#  detachedHead = false
[include]
  path = ~/.local/.gitconfig
  path = ~/.local/themes.gitconfig
[delta]
  features = villsau
  # features = zebra-dark
  #file-decoration-style = black ul
  #file-style = black
  #hunk-header-decoration-style = black box
  #hunk-header-line-number-style = black
  line-numbers = true
  #line-numbers-left-format = {nm:>3}|
  #line-numbers-left-style = black
  #line-numbers-minus-style = black
  #line-numbers-plus-style = black
  #line-numbers-right-format = {np:>3}|
  #line-numbers-right-style = black
  #line-numbers-zero-style = black
  #minus-emph-style = red bold
  #minus-empty-line-marker-style = omit
  #minus-style = red
  navigate = true
  #plus-emph-style = green bold
  #plus-empty-line-marker-style = omit
  #plus-style = green
  #side-by-side = false
  #syntax-theme = gruvbox-dark
  #true-color = auto
  #zero-style = black
[submodule]
    recursive = true
