[user]
  email = aliyou29@hotmail.com
  name = Aliyou Sylla
[core]
  editor = nvim
[diff]
  tool = difftastic
[difftool]
  prompt = false
[difftool "difftastic"]
  cmd = difft "$LOCAL" "$REMOTE"
[merge]
  #tool = vscode
  conflictStyle = diff3
[mergetool]
  keepBackup = false
[pager]
  branch = false
  diff = delta
  log = delta
  reflog = delta
  show = delta
  #difftool = true
[pull]
  rebase = true
[rebase]
  autosquash = true
  abbreviateCommands = true
[credential]
  helper = cache --timeout 3600
[rerere]
  enabled = true
[init]
  defaultBranch = main
[include]
  path = ~/.local/.gitconfig
[includeIf "gitdir:~/work/github/"]
  path = ~/work/github/.gitconfig
[alias]
  dft = difftool

[delta]
  line-numbers = true
  navigate = true
  minus-empty-line-marker-style = omit
  minus-style = red
  plus-empty-line-marker-style = omit
  true-color = auto
  zero-style = black
[submodule]
  recursive = true
